{% extends 'Base/Base.html' %} {% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

    <div id="header">
        <div class="navbar navbar-dark bg-dark">
            <h4 class="navbar-brand"><i class="fas fa-phone-square-alt fa-lg"></i> SmartphoneWorld.in</h4>
        </div>
    </div>

    <div class="container">
        <!-- Container -->
        <div class="breadcrumbs">
            <a href="{% url 'homepage' %}">Home</a>
            &rsaquo; Password Reset Confirmation
            <hr/>
        </div>

        <!-- Content -->
        <div class="colM">
            <h3>Enter New Password</h3>
            <p>
                Please enter your new password twice so we can verify you typed it in
                correctly.
            </p>

            <form method="post" class="form-group">
                {% csrf_token %} {{ form.as_p }}
                <br/>
                <input type="submit" class="btn btn-primary" value="Change my password"/>
            </form>
            <br class="clear"/>
        </div>
        <!-- END Content -->
    </div>

{% endblock content %}