{% extends 'Base/Base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    <div id="header">
        <div class="navbar navbar-dark bg-dark">
            <h4 class="navbar-brand"><i class="fas fa-phone-square-alt fa-lg"></i> SmartphoneWorld.in</h4>
        </div>
    </div>

    <div class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        &rsaquo; Password Reset Sent
        <hr>
    </div>

    <div class="container">

        <!-- Content -->
        <div class=" colM">
            <h4>Password reset email has been send on your email address.</h4>
            <br>

            <p>We’ve emailed you instructions for reset your password, if an account exists with the email you entered.
                You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>

            <br class="clear">
        </div>
        <!-- END Content -->
    </div>


{% endblock content %}