{% extends 'Base/Base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

    <div id="header">
        <div class="navbar navbar-dark bg-dark">
            <h4 class="navbar-brand"><i class="fas fa-phone-square-alt fa-lg"></i> SmartphoneWorld.in</h4>
        </div>
    </div>

    <div class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        &rsaquo; Password Reset
        <hr>
    </div>
    <!-- Content -->
    <div class="container">
        <div class="colM">
            <h3>Password Reset</h3>
            <br>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.</p>
            <br>
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input class="btn btn-primary" type="submit" value="Reset my password">
                    </form>
                </div>
            </fieldset>

            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
    <!-- END Container -->
    </div>


{% endblock content %}