{% extends 'Base/Base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    <div id="header">
        <div class="navbar navbar-dark bg-dark">
            <h4 class="navbar-brand"><i class="fas fa-phone-square-alt fa-lg"></i> SmartphoneWorld.in</h4>
        </div>
    </div>

    <!-- Container -->

    <div class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        &rsaquo; Password Reset Complete
        <hr>
    </div>

    <div class="container">

        <p>Your password has been changed.
            <br><br>
            Login from <a href="{% url 'login_page' %}" class="password-reset-link">here</a>
        </p>

    </div>

{% endblock content %}